<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>情报知识图谱-半结构化知识抽取</title>
		<link rel="stylesheet" href="../../static/library/minStructure.css" />
		<script type="text/javascript" src="../../static/library/jquery.min.js"></script>
		<script src="../../static/library/show.js"></script>
		<style type="text/css">
        body{
            margin:0;
            padding: 0;
            width:100% auto;
            height:100% auto;
        }
       
    </style> 
 <script>
 </script>
	</head>
	<body bgcolor="#FFFFFF">
	 		<div class="input_control">
		        <input type="text" id="baike_url" class="form_input" placeholder=""/>
				<input type="button" onclick="get_baike();" value="抽取">
<!--				<input type="button" class="isearch" onclick="get_baike();">-->
		    </div>
		 
    <div class="secondpart" style="text-align:center;">
        <table id="scroll_bar" class="table container">
        	<thead>
        		<tr id="bar_head">
        			<th>标题</th>
        		</tr>
        	</thead>
        	<tbody>
        		<tr>
        			<td>a</td>
        		</tr>
        	</tbody>
        </table>
    </div>
</body>
</html>