<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>军事知识图谱知识抽取表示展示系统</title>

    <script src="../../static/library/xhr.js" type="text/javascript" charset="utf-8"></script>
    <link rel="stylesheet" type="text/css" href="../../static/library/bootstrap/css/bootstrap.min.css"/>
    <!--{#<link rel="stylesheet" type="text/css" href="../../static/library/bootstrap/bootstrap.min.css"/>#}-->

    <link rel="stylesheet" type="text/css" href="../../static/library/custom.css"/>
    <link rel="stylesheet" type="text/css" href="../../static/library/shadow.css"/>
    <link rel="stylesheet" type="text/css" href="../../static/style.css"/>


    <style>
        .panel-heading {
            /**/
            /*{#            background-color: #f7f7f7;#}*/
        }
    </style>
</head>
<body>

<nav class="navbar navbar-default navbar-custom">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <!--<div class="navbar-header">-->
        <!--<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">-->
        <!--<span class="sr-only">Toggle navigation</span>-->
        <!--<span class="icon-bar"></span>-->
        <!--<span class="icon-bar"></span>-->
        <!--<span class="icon-bar"></span>-->
        <!--</button>-->
        <a class="navbar-brand" href="/kg/index/">军事知识图谱知识抽取表示展示系统</a>
        <!--</div>-->

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <!--<ul class="nav navbar-nav">
                <li><a href="http://localhost:8000/search/?keyword=_%E4%B9%A6%E7%9B%AE%E5%88%97%E8%A1%A8#hint">书目列表</a></li>
                &lt;!&ndash;<li><a href="http://localhost:8000/statistics/">统计信息</a></li>
                <li><a href="http://localhost:8000/about/">关于</a></li>&ndash;&gt;
            </ul>
-->

            <ul class="nav navbar-nav navbar-right">
                <li><a class="login-user" href="/kg/login/"></a></li>
                <li><a href="/kg/settings/">设置</a></li>
            </ul>


        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<!--<header class="jumbotron myJumbotron">

    <div class="container">
        <h1>军事知识图谱运维系统</h1>
        <h3>查询、批量导入</h3>
    </div>

</header>-->


<div class="fixed-count-result"
     style="margin:auto;text-align: center; font-size: 20px;color: black;margin-bottom: 30px;position:fixed;z-index:5;background-color: white">
    <!---->
    <!---->

    <div>
        <span class="hide-count-result">x</span>
        <span>新增实体数：</span>
        <span class='blue' id="myEntityCount">16,882,053</span>

        <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
        <span>新增关系数：</span>
        <span class="blue" id="myRelationCount">223,028,438</span>

    </div>

</div>
<script>

</script>


<div class="container col-md-10 col-md-offset-1 parent">

    <!--<h3 style="margin-bottom: 40px;">军事知识图谱-运维系统</h3>-->

    <div class="detai-tabs">
        <!-- Nav tabs -->
        <ul class="nav nav-pills tab-nike" role="">
            <li role="" class="active"><a href="#half-structure" aria-controls="" role="" data-toggle="tab">半结构化知识抽取</a>
            </li>
            <li role=""><a href="#baike" aria-controls="" role="" data-toggle="tab">百科知识抽取</a>
            </li>
            <li role=""><a href="#non-structure" aria-controls="profile" role="tab" data-toggle="tab">非结构化知识抽取</a>
            </li>
            <li role=""><a href="#mix" aria-controls="" role="" data-toggle="tab">多源知识融合</a>
            </li>
            <li role=""><a href="#vector" aria-controls="profile" role="tab" data-toggle="tab">知识表示学习</a>
            </li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
<!--            <div role="tabpanel" class="tab-pane active" id="half-structure">-->
<!--                <div class="container">-->

<!--                    &lt;!&ndash; 文件导入radio&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&ndash;&gt;-->

<!--                    <div class="row col-md-7 " style="padding-left:0px;font-size: 14px;">-->

<!--                        <div class="radio-inline">-->
<!--                            <label>-->
<!--                                <input id="file-entities" name="file-type" type="radio"-->
<!--                                       value="entities" required="">-->
<!--                                entities-->
<!--                            </label>-->
<!--                        </div>-->

<!--                        <div class="radio-inline">-->
<!--                            <label>-->
<!--                                <input id="file-ment2ent" name="file-type" type="radio"-->
<!--                                       value="ment2ent" required="">-->
<!--                                ment2ent-->
<!--                            </label>-->
<!--                        </div>-->

<!--                        <div class="radio-inline">-->
<!--                            <label>-->
<!--                                <input id="file-types" name="file-type" type="radio"-->
<!--                                       value="types" required="">-->
<!--                                types-->
<!--                            </label>-->
<!--                        </div>-->

<!--                        <div class="radio-inline">-->
<!--                            <label>-->
<!--                                <input id="file-triples" name="file-type" type="radio"-->
<!--                                       value="triples" required="" checked="checked">-->
<!--                                triples-->
<!--                                <span style="font-weight: 700" class="dropdown-toggle triple-needLink"-->
<!--                                      data-toggle="dropdown" aria-expanded="false">（链接）</span><b class="caret"></b>-->
<!--                                <ul class="dropdown-menu">-->

<!--                                    <li><a value="（链接）"-->
<!--                                           onclick="showSelectTriple(this.getAttribute('value'))">（链接）</a>-->
<!--                                    </li>-->
<!--                                    <li class="divider"></li>-->
<!--                                    <li><a value="（不链接）"-->
<!--                                           onclick="showSelectTriple(this.getAttribute('value'))">（不链接）</a>-->
<!--                                    </li>-->


<!--                                </ul>-->
<!--                            </label>-->
<!--                        </div>-->


<!--                    </div>-->
<!--                    &lt;!&ndash; &ndash;&gt;-->
<!--                    &lt;!&ndash;-->
<!--                    <form method="post" enctype="multipart/form-data" action="Upload.ashx">&ndash;&gt;-->
<!--                    &lt;!&ndash; <input type="file" name="fileName"/>&ndash;&gt;-->
<!--                    &lt;!&ndash; <input type="submit" name="上传"/>&ndash;&gt;-->
<!--                    &lt;!&ndash;-->
<!--                </form>-->
<!--                &ndash;&gt;-->
<!--                </div>-->

<!--            </div>-->

             <div role="tabpanel" class="tab-pane active" id="half-structure">
                <!-- 半结构化数据---------------------------------------------------------------------------->
                <div class="container">
                </div>
                <div class="shadow panel panel-default parent-panel" style="padding:15px">
                    半结构化知识抽取
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="baike">
                <!-- 百科数据---------------------------------------------------------------------------->
                <div class="container">
                </div>
                <!-- 检索内容---------------------------------------------------------------------->
                <div class="shadow panel panel-default parent-panel" style="padding:15px">
                    百科知识抽取
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="non-structure">
                <!-- 非结构化数据---------------------------------------------------------------------------->
                <div class="container">
                </div>
                <div class="shadow panel panel-default parent-panel" style="padding:15px">
                    {%for c in ets.non_structure_content%}
                        {%  if c in "{" %}
                        <label>
                        {%  elif c in "}" %}
                        </label>
                        {%  else %}
                        {{c}}
                        {%  endif %}
                    {%endfor%}
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="mix">

                <!-- 检索内容---------------------------------------------------------------------->

                <div class="shadow panel panel-default parent-panel" style="padding:15px">
                <!-- 知识融合数据---------------------------------------------------------------------------->
                <div class="container">
                    名称为<label>{{ets.name}}</label>实体属性冲突，需进行融合,融合属性为<label>{{ets.pro}}</label>
                    请选择：<br>
                    <form action="" method="get" accept-charset="UTF-8">
                    {%for s in ets.selection%}
                    <lable><input type="radio" name="selections" value={{forloop.counter}}>{{forloop.counter}}、{{s}}</lable><br>
                    {% endfor %}
                        <input type="submit" value="提交">
                    </form>
                </div>

                </div>

            </div>
            <div role="tabpanel" class="tab-pane" id="vector">
                <!-- 表示学习数据---------------------------------------------------------------------------->
                <div class="container">
                </div>
                <div class="shadow panel panel-default parent-panel" style="padding:15px">
                知识表示学习
                </div>
            </div>

<!--            <div role="tabpanel" class="tab-pane active" id="non-structure">-->
<!--                &lt;!&ndash; 半结构化数据&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&ndash;&gt;-->
<!--                <div class="container">-->


<!--                </div>-->

<!--                &lt;!&ndash; 检索内容&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&ndash;&gt;-->

<!--                <div id='' class="shadow panel panel-default parent-panel" style="padding:15px">-->


<!--                </div>-->

<!--            </div>-->

<!--            <div role="tabpanel" class="tab-pane active" id="mix">-->
<!--                 半结构化数据&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;-->
<!--                <div class="container">-->


<!--                </div>-->

<!--                &lt;!&ndash; 检索内容&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&ndash;&gt;-->

<!--                <div id='' class="shadow panel panel-default parent-panel" style="padding:15px">-->


<!--                </div>-->

<!--            </div>-->

<!--            <div role="tabpanel" class="tab-pane active" id="vector">-->
<!--                &lt;!&ndash; 半结构化数据&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&ndash;&gt;-->
<!--                <div class="container">-->


<!--                </div>-->

<!--                &lt;!&ndash; 检索内容&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&ndash;&gt;-->

<!--                <div id='' class="shadow panel panel-default parent-panel" style="padding:15px">-->


<!--                </div>-->

<!--            </div>-->

        </div>
    </div>


</div>
</div>

<script src="../../static/library/js/query_single.js"></script>
<script src="../../static/library/js/query.js"></script>
<script src="../../static/library/jquery.min.js"></script>

<script src="../../static/library/bootstrap/js/bootstrap.min.js"></script>
<!--<script>-->
<!--    document.querySelector('.hide-count-result').onclick = function () {-->

<!--    }-->
<!--    /* {% comment %}$(function () {-->
<!--     $("[data-toggle='popover']").popover();-->
<!--     });{% endcomment %}*/-->
<!--</script>-->
</body>
</html>