<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>实体属性融合</title>
		<link rel="stylesheet" type="text/css" href="../../static/library/baike.css"/>
		<link rel="stylesheet" type="text/css" href="../../static/library/newcss.css"/>
		<script src="../../static/library/jquery.min.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<script>
	$(function(){
	show_mix();
	});

function show_mix(){
    $("#mix_button").hide();
    var h1_label = "<h1>多源知识融合</h1><br/>"
    var data = $("#mixs_dict").val();
    if((typeof data=='object')&&data.constructor==Object){
                 obj=data;
             }else{
                obj=eval("(" + data + ")");
             }
    $('#idx').html(1);
    $("#mysql_name").html(obj[0].mysql_name);
    $("#pro").html(obj[0].pro);
    var h = "";
    for(i in obj[0].mysql_pro_dict){
        h = h + "<input class='radio1' type='radio' name='selections' value=i><lable><font class='y1'>"+ (Number(i)+1) + "、" + obj[0].mysql_pro_dict[i]+"</font></lable>"
    }
   $("#pro_dict").html(h);
    $("#mix_button").show();
}


function upload_mix(){
var data = $("#mixs_dict").val();
var index = Number($("#idx").text());
if((typeof data=='object')&&data.constructor==Object){
                 obj=data;
             }else{
                obj=eval("(" + data + ")");
             }
    $('#idx').text(index+1);
    var h = "";
    if(index<obj.length){
    $("#mysql_name").html(obj[index].mysql_name);
    $("#pro").html(obj[index].pro);
    for(i in obj[index].mysql_pro_dict){
        h = h + "<input class='radio1' type='radio' name='selections' value=i><lable><font class='y1'>"+ (Number(i)+1) + "、" + obj[index].mysql_pro_dict[i]+"</font></lable>"
    }
}else{
var h = "属性融合完毕！";
$("#mix_button").hide();
}
   $("#pro_dict").html(h);
}
	</script>
	<body>
        <input type="hidden" id="mixs_dict" value="{{ms}}">
        <input type="hidden" id="mixs_index">
		<div class="big_div">
			<div class="div04">

			</div>
			<div class="div05">实体属性融合</div>
			<div class="select_1">
				<font class="question">【<span id="idx">1</span>】</font><font class="content">名称为<span id="mysql_name"><label>运-20</label></span>实体属性冲突,需进行融合,融合属性为<span id="pro">名称</span></font>
				<br />
				<font  class="select_2">请选择:</font>
				<br />
				<br />
				<div id="pro_dict">
<!--				<input class="radio1"  type="radio" name="r" id="" value="" checked="checked"/> <font class="y1">运-20</font>-->
<!--				<input class="radio2" type="radio" name="r" id="" value="" /> <font class="yun20">运20</font>-->
				</div>
					<br />
				<br />
				<input class="submit01" id="mix_button" type="button" onclick="upload_mix();" value="提  交" />
			</div>
		
		</div>

	</body>
</html>
