<html>
	<head>
		<meta charset="UTF-8">
		<title>同义词生成</title>
		<link rel="stylesheet" type="text/css" href="../../static/library/newcss.css" />
		<script src="../../static/library/jquery.min.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			function setType(e) {
				if(e == 'all') {
					$("#zb").attr("class","input04");
					$("#hq").attr("class","input03");
					$("#ty").attr("class","input03");
					$("#title_text").html("装备信息抽取");
					$.ajax({
						url: "http://192.168.12.102:8001/kg/half_structure/equipment/", //json文件位置
						type: "GET", //请求方式为get
						dataType: "json", //返回数据格式为json
						success: function(data) { //请求成功完成后要执行的方法
							//each循环 使用$.each方法遍历返回的数据date
							$("#scroll_bar").html("<thead><tr id='bar_head'><th style='width: 33%;'>subject_name</th><th style='width: 33%;'>relation</th><th style='width: 33%;'>object_name</th></tr></thead><tbody></tbody>");
							$.each(data.equ, function(i, item) {
								//获取最后一行的data-id(标识行)
								var rowIndex = $("#scroll_bar tr:last").attr("data-row");
								if(rowIndex == "" || rowIndex == null) {
									rowIndex = parseInt(1);
								} else {
									rowIndex = parseInt(rowIndex) + 1;
								}

								var htmlList = '<tr data-row=' + rowIndex + '>';
								//标题
								htmlList += '<td style="text-align:center">' + item.subject_name + '</td>';
								htmlList += '<td style="text-align:center">' + item.relation + '</td>';
								htmlList += '<td style="text-align:center">' + item.object_name + '</td>';
								htmlList += '</tr>';

								//在行最后添加数据
								$("#scroll_bar tr:last").after(htmlList);

								htmlList = '';
								//初始化行
							})
						}
					});
				}

				if(e == 'target') {
					$("#hq").attr("class","input04");
					$("#zb").attr("class","input03");
					$("#ty").attr("class","input03");
					$("#title_text").html("环球军事网半结构化信息");
					$.ajax({
						url: "http://192.168.12.102:8001/kg/half_structure/extract/", //json文件位置
						type: "GET", //请求方式为get
						dataType: "json", //返回数据格式为json
						success: function(data) { //请求成功完成后要执行的方法
							$("#scroll_bar").html("<tr style='width: 90% ;background-color: white;'><td id='bar_td' style='width: 0px; height: 0px;padding: 0px;border: 0px;'></td></tr>");
							$.each(data.ext, function(i, item){
							var obj="";
                       		obj += "<div class='intro'>" + item +"</div></br>";
                       		$("#bar_td").after(obj);
                       	});
						}
					});
				}

				if(e == 'event') {
					$("#ty").attr("class","input04");
					$("#hq").attr("class","input03");
					$("#zb").attr("class","input03");
					$("#title_text").html("同义词生成");
					$.ajax({
							type: "get", //待载入页面的url地址
							url: "http://192.168.12.102:8001/kg/half_structure/syn",
							dataType: "json", //返回数据格式为json
							success: function(data) {
								//载入成功时的回调函数
								var obj;
								//判断是否是json格式
								if((typeof data == 'object') && data.constructor == Object) {
									obj = data;
								} else {
									obj = eval("(" + data + ")");
								}
								var h = "";
								for(i in obj.syn) {
									h = h + "<tr><td>" + obj.syn[i].name + "的同型号指代为[";
									for(j in obj.syn[i].detail) {
										if(j != 0) {
											h += ',';
										}
										h = h + obj.syn[i].detail[j]
									}
									h = h + "]</td></tr>";
								}
								$("#scroll_bar").html(h);
							},
							error: function(jqXHR) {
								alert("发生错误：" + jqXHR.status);
							}
						
					});
			}
		}		
		</script>

	</head>
	<body>
		<div class="all">
			<input type="button" class="input03" value="装备信息抽取" id="zb" onclick="setType('all');" style="margin-left: 46px;" /><input type="button" class="input03" value="环球军事网半结构化信息" onclick="setType('target');" id="hq" /><input type="button" class="input03" value="同义词生成" onclick="setType('event');" style="height: 40px;width: 160px;" id="ty"/>
			<br />
			<hr width="90%" class="hh1" style="margin-left: 50px;" />
			<div class="div03">

				<div class="div04">

				</div>
				<div class="div05"  id="title_text">
					实体指代融合
				</div>
				</br>
				<table id="scroll_bar" cellpadding="15px" cellspacing="0px">
					<tbody>
						<!--<tr>
							<td>"运-20的同型号指代为[运-20]</td>
						</tr>
						
						<tr>
							<td>歼-31战斗机的同型号指代为[歼-31]</td>
						</tr>-->

					</tbody>
				</table>
			</div>
		</div>

	</body>

</html>