<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>百度百科搜索结果</title>
		<link rel="stylesheet" type="text/css" href="../../static/library/baike.css"/>
		<style type="text/css">
			
		</style>
		
	</head>
	<body>
		
		<div class="div01">
				<div class="div06">
					<input type="text"  class="input01" value="" placeholder="战斗机" />
				</div>
				<div class="div07">
					<img src="Demo/img/搜索按钮.jpg" style="margin-top: 20px;height: 40px; wclassth: 50px;"/>
				</div>
		</div>

		<div class="div02"  >
			<input type="button" class="input03"  value="百度百科搜索结果" style="color: #757575;"/><input type="button" class="input04" value="知识抽取结果" style="color: white";/>
			<br />
			<hr  width="97%"  class="hh1" />
			<div class="div08" >
			
			</div>
		</div>
		
		
		
	</body>
</html>
